
.card{
    display: flex;
    justify-content: center;
    border-radius: 10px !important;
}
.card-img-top{
    width: 60% !important;

}

.containerMOdif{
    padding: 10px;
   
}

.btn-danger{
    background-color: #A70000 !important;
}

.cardAbierta{
    background-color: rgb(252, 227, 166);
    border-radius: 10px !important;
}

.cardCerrada{
    background-color: rgb(194, 194, 194);
    border-radius: 10px !important;
}

.cardNueva{
    background-color: rgb(252, 166, 166);
    border-radius: 10px !important;
}